<!DOCTYPE html>
<html lang="en">
<head>
     <!--COMP229_ASSIGNMENT1_301174653 --------- Satwinder kaur -------  30174653  -------- 10th october-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"rel="stylesheet">
</head>
<body> 
   <div class="container">
    <div class="About">
    <nav>
    <img src="/images/image1.png"alt="my logo"width="150px"height="150px">
    <!-- Main Navigation -->
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home </a>
        </li>

    
        <li class="nav-item">
    
          <a class="nav-link" href="/about.hbs"> About </a>
        </li>


        <li class="nav-item">
        
          <a class="nav-link" href="/project.hbs"> Projects </a>
        </li>

        
        <li class="nav-item" >
        
          <a class="nav-link" href="/service.hbs">Services </a>
        </li>

       
        <li class="nav-item">
          <a class="nav-link" href="/contact.hbs"> Contact </a>
        </li>
        </ul>
    </div>
    </nav>
    <p>
<p>
 <h2> CONTACT DETAILS :</h2>

</p>
    
    <a href="satwinderkaur@sample.com">Click here to connect with us!!!</a>
</p>
<p>

    <p>
        <h1>SUBMIT THIS FORM FOR ANY HELP </h1>
    </p>
</p>
<div class="form">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="mail">Email</label>
    <input type="text" id="mail" name="email" placeholder="Your email..">

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

<style>

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:peru;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:saddlebrown;
}

/* Add a background color and some padding around the form */
.form {
  border-radius: 5px;
  background-color:darksalmon;
  padding: 20px;
}
</style>
    
    <div class = "About"></div>
    <div class = "Project"></div>
    <div class = "Service"></div>
    <div class = "Contact"></div>
   
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>