<!DOCTYPE html>
<html lang="en">
<head>
     <!--COMP229_ASSIGNMENT1_301174653 --------- Satwinder kaur -------  30174653  -------- 10th october-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"rel="stylesheet">
</head>
<body> 
   <div class="container">
    <div class="About">
    <nav>
    <img src="/images/image1.png"alt="my logo"width="150px"height="150px">
    <!-- Main Navigation -->
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home </a>
        </li>

    
        <li class="nav-item">
    
          <a class="nav-link" href="/about.hbs"> About </a>
        </li>


        <li class="nav-item">
        
          <a class="nav-link" href="/project.hbs"> Projects </a>
        </li>

        
        <li class="nav-item" >
        
          <a class="nav-link" href="/service.hbs">Services </a>
        </li>

       
        <li class="nav-item">
          <a class="nav-link" href="/contact.hbs"> Contact </a>
        </li>
        </ul>
    </div>
    </nav>
   <img src="/images/image5.jpg"alt="my statemet"width="980px"height="500x">
    <div class = "About"></div>
    <div class = "Project"></div>
    <div class = "Service"></div>
    <div class = "Contact"></div>
   
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>